.gallery img{
    width: 100%;
}

#menu{
    width: 100%;
    height: 70%;
    color: white;
    
    


    
}
h1{
    background-color: burlywood;
    width: 100%;
    height: 100px;
}
# menu a{
    color: aqua;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 20px;
    padding-right: 20px;

}

#menu a:hover{
    color: black;
}

#about{
    color: aqua;
    background-color: aquamarine;
}

.buy-now-button {
    background-color: rgb(255, 164, 28);
    border: none;
    height: 30px;
    width: 110px;
    border-radius: 15px;
    cursor: pointer;
}

.add-to-cart-button {
    background-color: rgb(249, 217, 76);
    border: none;
    height: 30px;
    width: 110px;
    border-radius: 15px;
    margin-right: 8px;
    cursor: pointer;
  }
  p{
    font-family: arial;
  }

  body{
    background-color: wheat;
  }

  th{
    margin: none;
  }

  table{
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
    border-color: black;
  }

  #menu a{
    color:#ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    text-decoration:none;
    font-weight: 800px;
    
    padding-left: 20px;
    padding-right: 20px;